.destinstion-heading {
    text-align: center;
}

.popular-tour {
    display: flex;
}

.destination-row-1,
.destinatiom-row-2 {
    display: grid;
    justify-items: center;
    text-align: center;
    color: white;
}

.destination-row-1 {
    grid-template-columns: auto auto;
}

.destinatiom-row-2 {
    grid-template-columns: 30% 40% 30%;
}

.maldives,
.indonesia,
.sri-lanka,
.north-america,
.kashmir {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maldives,
.indonesia {
    width: 573px;
    height: 300px;
}

.sri-lanka,
.kashmir {
    width: 374px;
    height: 286px;
}

.north-america {
    width: 474px;
    height: 286px;
}

.maldives {
    background-image: url(../Images/Rectangle\ 5.png);
}

.indonesia {
    background-image: url(../Images/Rectangle\ 8.png);
}

.sri-lanka {
    background-image: url(../Images/Rectangle\ 6.png);
}

.north-america {
    background-image: url(../Images/Rectangle\ 7.png);
}

.kashmir {
    background-image: url(../Images/Rectangle\ 9.png);
}