/* google fonts */
*body {
    font-family: "Mulish", sans-serif !;
}

/* font family */
.mulish {
    font-family: "Mulish", sans-serif
}

.container {
    max-width: 1440px;
    margin: auto;
}

/* pre declare classes */
h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
    font-family: "Mulish", sans-serif;
}

h2 {
    color: #131318;
    font-family: "Mulish", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h3 {
    font-size: 24px;
    font-weight: 800;
}

p,
ul {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

span {
    color: #FF5400;
}

/* flex property */
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.flex-col {
    flex-direction: column;
}

/* grid property */
.grid {
    display: grid;
}

.items-center {
    justify-items: center;
}

/* gap */
.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

/* text align */
.text-center {
    text-align: center;
}

/* color */
.white {
    color: white;
}

.span {
    color: #FF5400;
}

/* padding */
.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-50 {
    padding: 50px;
}

.pr-5 {
    padding-right: 25px;
}

/* margin */
.auto {
    margin: auto;
}

.mt-30 {
    margin-top: 30px;
}

.mt-10 {
    margin-top: 10px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-50 {
    margin-top: 50px;
}

.mr-10 {
    padding-right: 55px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-30 {
    margin-left: 30;
}

/* border */
.border-none {
    border: 0;
}

/* round */
.round-1 {
    border-radius: 10px;
}

.button-center {
    display: block;
    margin: auto;
}

.bold {
    font-weight: bold;
}

/* nav */
.title {
    font-size: 32px;
    font-family: "Mulish", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: black;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #424247;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #FF5400;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 4px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

li:hover {
    color: #FF5400;
}

.active {
    color: #FF5400;
}

/* header banner */
.banner {
    background-image: url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width:1568px ; */
    height: 500px;
    ;
}


/* blur background */
.blur-bg {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.47);
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.input-text {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
}

.input-container {
    display: inline-flex;
    width: 100%;
    text-align: center;
}

.destinstion-heading {
    text-align: center;
}

.popular-tour {
    display: flex;
}

.popular-tour-button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    font-size: 20px;
    font-weight: 800;
    border: 0;
    font-family: "Mulish", sans-serif
}

/* .popular-tour-contents {
    width: 540px;
    height: 550px;
} */

.popular-tour img {
    width: 540px;
    height: 100%;
}

.destination-row-1,
.destinatiom-row-2,
.destination-row-3 {
    display: grid;
    justify-items: center;
    text-align: center;
    color: white;
}

.destination-row-1 {
    grid-template-columns: repeat(2, 1fr);
}

.destinatiom-row-2 {
    grid-template-columns: repeat(3, 1fr);
}

.destination-row-3 {
    grid-template-columns: repeat(2, 40% 60%);
    width: 100%;
}

.destination-row-3 .destinatiom-row-2,
.destination-row-1 img {
    width: 100%;
}

.maldives,
.indonesia,
.sri-lanka,
.north-america,
.kashmir,
.bangldesh,
.bandarban {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maldives,
.indonesia {
    width: 573px;
    height: 300px;
}

.sri-lanka,
.kashmir {
    width: 374px;
    height: 286px;
}

.north-america {
    width: 474px;
    height: 286px;
}

.bangldesh {
    width: 480px;
    height: 300px;
}

.bandarban {
    width: 773px;
    height: 300px;
}

.maldives {
    background-image: url(../Images/Rectangle\ 5.png);
}

.indonesia {
    background-image: url(../Images/Rectangle\ 8.png);
}

.sri-lanka {
    background-image: url(../Images/Rectangle\ 6.png);
}

.north-america {
    background-image: url(../Images/Rectangle\ 7.png);
}

.kashmir {
    background-image: url(../Images/Rectangle\ 9.png);
}

.bangldesh {
    background-image: url(../Images/Rectangle\ 11.png);
}

.bandarban {
    background-image: url(../Images/Rectangle\ 10.png);
}

/* why choose us */
.why-chosee-us {
    grid-template-columns: repeat(2, 1fr);
}

.price {
    margin-top: 20px;
    grid-template-columns: 1;
}

.hotel {
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.map {
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price-tag {
    width: 573px;
    margin-top: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.satorini-bg-1 {
    background-image: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-top: 30px;
}

.satorini-tour-1 {
    margin: 35px 35px 0 0;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.satorini-bg-2 {
    background-image: url(../Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.satorini-tour-2 {
    position: absolute;
    left: 35px;
    bottom: 35px;
    top: 35px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.packages-btn {
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    text-align: center;
    font-family: 'Mulish';
    font-size: 20px;
    margin-top: 30px;
}

.news-box {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-feature img {
    width: 672px;
    height: 422px;
}

footer {
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin: auto;
    margin-top:30px ;
}

@media (max-width: 600px) {
    .container {
        /* margin: 0 auto; */
        margin: 10px;
    }

    .banner {
        border-radius: 20px;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 65px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid#424247;
        height: 2.5em;
        padding-top: 5px;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 1.5em 0;
        width: 100%;
        color: #424247;
        background-color: #ffffff;
    }

    .menu>li.active {
        color: #FF5400;
    }

    .menu>li:hover {
        color: #FF5400;
    }

    .heading {
        font-size: 22px;
    }

    .sub-text {
        font-size: 14px;
    }

    .input-container {
        flex-direction: column;
    }

    .when {
        padding-right: 155px;
    }

    .select-type {
        padding-right: 111px;
    }

    .find-now {
        padding-right: 72px;
        padding-left: 72px;
    }

    .blur-bg {
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .popular-tour {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
    }

    .popular-tour-heading {
        text-align: center;
    }

    .popular-tour-content {
        padding: 8px;
        text-align: justify;
    }

    .popular-tour {
        text-align: center;
    }

    .popular-tour img {
        width: 525px;
        height: 342px;
        margin-top: 20px;
    }

    .destination-headiong {
        text-align: center;
    }


    .destination-row-1,
    .destinatiom-row-2,
    .destination-row-3 {
        overflow: hidden;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .maldives,
    .indonesia,
    .sri-lanka,
    .north-america,
    .kashmir,
    .bangldesh,
    .bandarban {
        width: 535px;
        height: 296px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .why-chosee-us {
        grid-template-columns: repeat(1, 1fr);
    }

    .choose-us-mobile-width {
        text-align: center;

    }

    .hotel {
        width: 320px;
        height: 305px;
    }

    .map {
        width: 320px;
        height: 305px;
    }

    .price {
        margin-top: 5px;
    }

    .price-tag {
        width: 335px;
        height: 289px;
        flex-shrink: 0;
    }

    .map {
        margin-top: 20px;
    }

    .mobile-p {
        font-size: 14px;
    }

    .mobile-h2 {
        font-size: 20px;
    }

    .mobile-price {
        font-size: 16px;
    }

    .mobile-btn {
        width: 130px;
        height: 40px;
    }

    .mobile-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .satorini-bg-2 {
        background-image: url(../Images/Group\ 40.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }

    .satorini-tour-2 {
        position: absolute;
        top: 50px;
        left: 80px;
        bottom: 40px;
        width: 303px;
        height: 297px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
    }

    .satorini-bg-1 {
        background-image: url(../Images/Group\ 40.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 20px;
    }

    .satorini-tour-1 {
        position: absolute;
        top: 50px;
        left: 80px;
        bottom: 40px;
        width: 303px;
        height: 297px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
    }

    .sample-responsive {
        flex-direction: column;
        align-items: center;
    }

    .iframe {
        width: 485px;
        height: 250px;
    }

    .newsletter {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .news-feature img {
        width: 470px;
    }
}